* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
  }
  
  .animal-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f9f9f9, #e0e0e0);
    padding: 20px;
  }
  
  .animal-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 30px;
    max-width: 500px;
    width: 100%;
    text-align: center;
  }
  
  .animal-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  p {
    font-size: 1.2rem;
    color: #555;
    margin: 10px 0;
  }
  
  p strong {
    color: #333;
  }
  
  .adopt-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .adopt-button:disabled,
  .adopt-button.pending {
    background-color: rgb(177, 177, 44);
    color: white;
    cursor: not-allowed;
  }
  
  .adopt-button:hover {
    background-color: #6c757d; /* Cor cinza no hover */
  }
  
  @media (max-width: 768px) {
    .animal-card {
      padding: 20px;
      max-width: 90%;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1rem;
    }
  
    .adopt-button {
      font-size: 1rem;
    }
  }
  /* Modal estilo */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}

.close-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  float: right;
  border-radius: 5px;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal form input,
.modal form textarea {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.modal form button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.modal form button:hover {
  background-color: #218838;
}

  